<!DOCTYPE html>
<html>
<head>
  <title>Comicvine</title>
  <%= stylesheet_link_tag 'master' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		
	</div>
	<div id="body">
		<%= yield %>
	</div>
</body>
</html>
